apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "t82265683-ingress"
spec:
  ingressClassName: ingress-internal
  rules:
  - host: "t82265683-prod.cepg-aa.kubepia.net"
    http:
      paths:
      - path: /
        backend:
          service:
            name: my-t82265683
            port:
              number: 8080
        pathType: Prefix
